* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(217, 54%, 11%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 15px 20px 15px hsl(217, 54%, 9%);
}

.image-main {
    display: flex;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.image1 {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.image-main-hovering {
    position: absolute;
    background-color: hsla(178, 100%, 50%, 0.363);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.image2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-main-hovering:hover {
    opacity: 1;
}

.main-section-header {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
}

.main-section-header h1 {
    padding-block: 15px;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

a:hover {
    color: hsl(178, 100%, 50%);
}

.main-section-header p {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 300;
}

.main-info {
    display: flex;
    justify-content: space-between;
    width: 300px;
    max-width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.ethereum {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.clock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

h2 {
    font-weight: 300;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
    padding-left: 8px;
}

.ethereum h2 {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.avatar-section {
    padding-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;


}

.avatar-section img {
    width: 35px;
    margin-right: 10px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.avatar-section p {
    color: hsl(0, 0%, 100%);
}

.avatar-section p span {
    color: hsl(215, 51%, 70%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}